<?xml version="1.0" encoding="UTF-8"?>
<suite name="contact" parallel="classes">
    <parameter name = "port" value = "4723"/>
	<parameter name = "udid" value = "0bd08bcc"/>
	<test name="function" preserver-order="true">
		<groups>
		    <define name="all">
		        <include name="call"/>
		        <include name="contact"/>
		        <include name="mms"/>
		        <exclude name="webview"/>
		        <exclude name="login"/>
		        <include name="other"/>
		    </define>
		     <define name="test">
		        <include name="test"/>
		    </define>		
		     <define name="mms">
		        <include name="mms"/>
		    </define>
		    <define name="call">
		        <include name="call"/>
		    </define>
		    <define name="contact">
		        <include name="contact"/>
		    </define>
		    <define name="other">
		        <include name="other"/>
		    </define>
		    <define name="debug">
		        <include name="debug"/>
		    </define>
		    <define name="webview">
		        <include name="webview"/>
		    </define>		    
			<run>
			    <include name="test"/>
			</run>
		</groups>
		<classes>
			<class name="com.study.code.ChinaMoblie_testNg" />
		</classes>
		<listeners>
			<listener class-name="org.uncommons.reportng.HTMLReporter" />
			<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		</listeners>
		 <usedefaultlisteners name="false" />
	</test>
</suite>